language: node_js
dist: trusty
branches:
  only:
    - master
    - /^greenkeeper/.*$/
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - 10.12
  - 9.11
  - 8.12
script:
  - sonar-scanner
  - npm run test:prod && npm run build
after_success:
  - npm run report-coverage
  - npm run deploy-docs
  - npm run semantic-release
addons:
  sonarcloud:
    organization: lorefnon-github

